<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Sources</key>
	<array>
		<string>PKParseMatch.st</string>
		<string>PKParseFail.st</string>
		<string>PKRules.st</string>
		<string>Expressions/PKAlphabeticExpression.st</string>
		<string>Expressions/PKAnythingExpression.st</string>
		<string>Expressions/PKComposeExpression.st</string>
		<string>Expressions/PKAlphanumericExpression.st</string>
		<string>Expressions/PKAlternateExpression.st</string>
		<string>Expressions/PKBindExpression.st</string>
		<string>Expressions/PKDotExpression.st</string>
		<string>Expressions/PKActionExpression.st</string>
		<string>Expressions/PKRestrictionExpression.st</string>
		<string>Expressions/PKEmptyExpression.st</string>
		<string>Expressions/PKLowercaseExpression.st</string>
		<string>Expressions/PKLookAheadExpression.st</string>
		<string>Expressions/PKMaybeExpression.st</string>
		<string>Expressions/PKNAryComposeExpression.st</string>
		<string>Expressions/PKNAryAlternateExpression.st</string>
		<string>Expressions/PKNArySequenceExpression.st</string>
		<string>Expressions/PKNonTerminalLookupExpression.st</string>
		<string>Expressions/PKNumericExpression.st</string>
		<string>Expressions/PKNegateExpression.st</string>
		<string>Expressions/PKNonTerminalExpression.st</string>
		<string>Expressions/PKParseExpression.st</string>
		<string>Expressions/PKParameterizedExpression.st</string>
		<string>Expressions/PKRepetitionExpression.st</string>
		<string>Expressions/PKRangeExpression.st</string>
		<string>Expressions/PKUppercaseExpression.st</string>
		<string>Expressions/PKSequenceExpression.st</string>
		<string>Expressions/PKTokenExpression.st</string>
		<string>Expressions/PKWhitespaceExpression.st</string>
		<string>Generator/PKParserAbstractGenerator.st</string>
		<string>PKParseAction.st</string>
		<string>PKRestrictedMatch.st</string>
		<string>PKParseRestriction.st</string>
		<string>PKParsePredicate.st</string>
		<string>PKMatchRangeNotice.st</string>
		<string>PKDelayActionArray.st</string>
		<string>PKDelayInvocation.st</string>
		<string>PKEnvironmentStack.st</string>
		<string>PKInputStream.st</string>
		<string>ParserKit.st</string>
		<string>Utils.st</string>
	</array>
	<key>Classes</key>
	<array>
		<string>PKActionExpression</string>
		<string>PKAlphabeticExpression</string>
		<string>PKAlphanumericExpression</string>
		<string>PKAlternateExpression</string>
		<string>PKAnythingExpression</string>
		<string>PKBindExpression</string>
		<string>PKComposeExpression</string>
		<string>PKDelayActionArray</string>
		<string>PKDelayInvocation</string>
		<string>PKDotExpression</string>
		<string>PKEnvironmentStack</string>
		<string>PKEmptyExpression</string>
		<string>PKInputStream</string>
		<string>PKLookAheadExpression</string>
		<string>PKLowercaseExpression</string>
		<string>PKMatchRangeNotice</string>
		<string>PKMaybeExpression</string>
		<string>PKNAryAlternateExpression</string>
		<string>PKNArySequenceExpression</string>
		<string>PKNonTerminalExpression</string>
		<string>PKNonTerminalLookupExpression</string>
		<string>PKNegateExpression</string>
		<string>PKNumericExpression</string>
		<string>PKParameterizedExpression</string>
		<string>PKParseAction</string>
		<string>PKParserAbstractGenerator</string>
		<string>PKParseExpression</string>
		<string>PKParseFail</string>
		<string>PKParseMatch</string>
		<string>PKParsePredicate</string>
		<string>PKParseRestriction</string>
		<string>PKRangeExpression</string>
		<string>PKRepetitionExpression</string>
		<string>PKRestrictionExpression</string>
		<string>PKRestrictedMatch</string>
		<string>PKSequenceExpression</string>
		<string>PKTokenExpression</string>
		<string>PKUppercaseExpression</string>
		<string>PKWhitespaceExpression</string>
	</array>
	<key>PrincipalClass</key>
	<string>Test</string>
</dict>
</plist>
